src/main/resources/wsdl/1ASIWPROG8T_PDT_20260131_163804.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with WSDLGenerator 2.0.0 by Amadeus SAS-->
<!--  Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2015 - Amadeus s.a.s - All Rights Reserved.  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:amasec="http://xml.amadeus.com/2010/06/Security_v1" xmlns:awsl="http://wsdl.amadeus.com/2010/06/ws/Link_v1" xmlns:awsse="http://xml.amadeus.com/2010/06/Session_v3" xmlns:profile_listdeactivatedprofiles_1_1="http://xml.amadeus.com/FUDREQ_01_1_1A" xmlns:profile_listdeactivatedprofilesreply_1_1="http://xml.amadeus.com/FUDRES_01_1_1A" xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A" xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xml.amadeus.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com">
  <wsp:Policy wsu:Id="MessagingPolicy">
    <wsam:Addressing wsp:Optional="true">
      <wsp:Policy>
        <wsam:AnonymousResponses />
      </wsp:Policy>
    </wsam:Addressing>
  </wsp:Policy>
  <wsp:Policy wsu:Id="AmadeusPolicy">
    <wsp:PolicyReference URI="#MessagingPolicy" />
  </wsp:Policy>
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="Profile_ListDeactivatedProfiles_01_1_1A.xsd" namespace="http://xml.amadeus.com/FUDREQ_01_1_1A" />
      <xs:import schemaLocation="Profile_ListDeactivatedProfilesReply_01_1_1A.xsd" namespace="http://xml.amadeus.com/FUDRES_01_1_1A" />
      <xs:import schemaLocation="Security_SignOut_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" />
      <xs:import schemaLocation="Security_SignOutReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" />
      <xs:import schemaLocation="AMA/2012B/AMA_WS_Session.xsd" namespace="http://xml.amadeus.com/2010/06/Session_v3" />
      <xs:import schemaLocation="AMA_WSLink.xsd" namespace="http://wsdl.amadeus.com/2010/06/ws/Link_v1" />
      <xs:import schemaLocation="AMA/2012B/AMA_SecurityHostedUser.xsd" namespace="http://xml.amadeus.com/2010/06/Security_v1" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Session_3.000">
    <wsdl:part name="session" element="awsse:Session" />
  </wsdl:message>
  <wsdl:message name="TransactionFlowLink_1.0">
    <wsdl:part name="link" element="awsl:TransactionFlowLink" />
  </wsdl:message>
  <wsdl:message name="AMA_SecurityHostedUser_1.000">
    <wsdl:part name="security" element="amasec:AMA_SecurityHostedUser" />
  </wsdl:message>
  <wsdl:message name="Profile_ListDeactivatedProfiles_1_1">
    <wsdl:part name="Profile_ListDeactivatedProfiles_1_1" element="profile_listdeactivatedprofiles_1_1:Profile_ListDeactivatedProfiles" />
  </wsdl:message>
  <wsdl:message name="Profile_ListDeactivatedProfilesReply_1_1">
    <wsdl:part name="Profile_ListDeactivatedProfilesReply_1_1" element="profile_listdeactivatedprofilesreply_1_1:Profile_ListDeactivatedProfilesReply" />
  </wsdl:message>
  <wsdl:message name="Security_SignOut_4_1">
    <wsdl:part name="Security_SignOut_4_1" element="security_signout_4_1:Security_SignOut" />
  </wsdl:message>
  <wsdl:message name="Security_SignOutReply_4_1">
    <wsdl:part name="Security_SignOutReply_4_1" element="security_signoutreply_4_1:Security_SignOutReply" />
  </wsdl:message>
  <wsdl:portType name="AmadeusWebServicesPT">
    <wsdl:operation name="Profile_ListDeactivatedProfiles">
      <wsdl:input message="tns:Profile_ListDeactivatedProfiles_1_1" />
      <wsdl:output message="tns:Profile_ListDeactivatedProfilesReply_1_1" />
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <wsdl:input message="tns:Security_SignOut_4_1" />
      <wsdl:output message="tns:Security_SignOutReply_4_1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AmadeusWebServicesBinding" type="tns:AmadeusWebServicesPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Profile_ListDeactivatedProfiles">
      <soap:operation soapAction="http://webservices.amadeus.com/FUDREQ_01_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <soap:operation soapAction="http://webservices.amadeus.com/VLSSOQ_04_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmadeusWebServices">
    <wsdl:port binding="tns:AmadeusWebServicesBinding" name="AmadeusWebServicesPort">
      <wsp:PolicyReference URI="#AmadeusPolicy" />
      <soap:address location="https://nodeD2.test.webservices.amadeus.com/1ASIWPROG8T" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
<!--1F8B08000000000000FF258DCB0AC2301000EFFD8A3D2AD2B269A594BD158520280653E8396884405E2451F0EF0D7A1D9819AEBD4EAA98E0A118A773512E12F4D88F2DB27660205579A587FA001B699808F7C02FCB0E91109B551ECFC0FF8590E0AD53AEA1AA77D86173B046FB022A466BEEBF058148E1696C868DB85DB7D59F0578E534019BE569AD904FCB17985BF6B893000000-->
