src/main/resources/wsdl/Profile_ListDeactivatedProfilesReply_01_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/FUDRES_01_1_1A" xmlns="http://xml.amadeus.com/FUDRES_01_1_1A" elementFormDefault="qualified">
  <xs:element name="Profile_ListDeactivatedProfilesReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="outputIndicator" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="outputGeneralInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="deactivatedProfilesExist" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="moreAnswersExist">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="secureProfilesExist" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="followUpSection" minOccurs="0" maxOccurs="150">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="profileSeparator">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="originOffice" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an9</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="9" />
                          <xs:maxLength value="9" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="destinationOffice" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an9</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="9" />
                          <xs:maxLength value="9" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="profileIdentificationSection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="profileIdentification">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="recordLocator">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an6</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="6" />
                                <xs:maxLength value="6" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="profileType">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="1" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="followUpInformation" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="followUpElement" maxOccurs="3">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="line">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..90</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="90" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="date">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n8</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="8" />
                                <xs:maxLength value="8" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="sequenceNumber">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="profileDate" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="purgeDate">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n8</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="8" />
                          <xs:maxLength value="8" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="nonTravellerInformationSection" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="profileNameSection">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="correspondingProfileType">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="1" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="profileName">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an3..60</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="3" />
                                <xs:maxLength value="60" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="organizationProfileType" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="1" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="newCompanyProfile" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="1" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="referenceNumber" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="airline">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an2..3</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="2" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="number">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..27</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="27" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="travellerInformationSection" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="travellerInformation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="traveller">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="surname">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..57</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="57" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="groupIndicator" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="quantity" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="1" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="otherInformation" minOccurs="0" maxOccurs="2">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="firstName" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..56</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="56" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="passengerType" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="infantIndicator" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="1" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="passengerID" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="70" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="associatedTravellerSection" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="associationIdentificationSection">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="profileIdentification">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="recordLocator">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: an6</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="6" />
                                            <xs:maxLength value="6" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="profileType">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="1" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="associationName">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="correspondingProfileType">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="1" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="profileName">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: an3..60</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="3" />
                                      <xs:maxLength value="60" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="organizationProfileType" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="1" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="newCompanyProfile" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="1" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="associationInformation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="hotelBiaisingRulesExist">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="1" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 4.1 by Amadeus S.A.S.-->
<!--Build Key:
1F8B080000000000000085904F6B023110C5EFF914DE4BDD54B0E0C21E16743DB92D6AE95162326A207FB6996CE9227EF74E76D7E2AD90C3CBCCE4BD5F66BDAA57DB72BF5A1EDEEA62C65FF8339FD3997C8272804A7413BEC8E7AFF98C4FD69BFD13E739E7CC090BD80809C535760DDC0ED76F08A8BD2315C080C054136770B2BB31E9AD0517B1380983C08C77E76450C4D00253BE3D1AD8C1574BC3F02EA2BC0C8D9336B06D0D14CE5724FB7BFFAC8F4CEA9F584244D24B88421B241B07540B6718397EACD993D3D0283765B2C5EA9EC2505EC08A4480B417BEC8F882A511B5EB1BA349E3B58B35C407F031B7C4DE7D18935E01421C298E045AFFADF01263936719E14C85150A5A9CD2C63216BC8F0F9F65684588497E382D75EC46EB81132B1F4AA3C918EF14F4D34A8351B8F321821AC77F0146ED0CECF0010000
-->

